@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap');

:root {  /*Define variáveis*/
    --main-color: #be9c79;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --border: 0.2rem solid var(var(--black));
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    text-transform: capitalize;
}

*::selection {
    background-color: var(--main-color);
    color: var(--white);
}

html {
    font-size: 62.5%; /*10px do windows*/
    overflow-x: hidden;
}

section {
    padding: 3rem 2rem; /*rem: tamanho da fonte lá na raiz*/
    max-width: 1200px;
    margin: 0 auto;
}

.heading {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
}

.heading img {
    height: 4rem;
    margin-bottom: 1rem;
}

.heading h3 {
    font-size: 4rem;
    color: var(--black);
    font-family: 'Merienda One', cursive;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    background-color: var(--main-color);
    color: var(--white);
    font-size: 1.5rem;
    padding: 1rem 3rem;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--black);
}

.header {
    background-color: var(--main-color);
    box-shadow: var(--box-shadow);
    position: sticky; /* Faz o menu fica grudado */
    top: 0; 
    left: 0;
    right: 0;
}

.header .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1.5rem 2rem;
}

.header .flex .logo img {
    height: 4.5rem;
}

.header .flex .navbar a {
    color: var(--white);
    font-size: 1.5rem;
    margin-left: 2rem;
}

.header .flex .navbar a:hover {
    text-decoration: underline;
}

#menu-btn {
    font-size: 2.5rem;
    color: var(--black);
    cursor: pointer;
    display: none;
}

/*HOME*/ 
.home-bg {
    background: linear-gradient(90deg, #be9c79, transparent 70%), url('../images/home-bg.jpg'); /*Mistura dois tipos de background*/
    background-position: center;
    background-size: cover;
}

.home-bg .home {
    min-width: 70rem;
    display: flex;
    align-items: center;
}

.home-bg .home .content {
    text-align: center;
    width: 50rem;
}

.home-bg .home .content h3 {
    font-size: 6rem;
    color: var(--black);
    font-family: 'Merienda One', cursive;
}

.home-bg .home .content p {
    font-size: 1.8rem;
    color: var(--light-color);
    padding: 1rem 0 ;
}

/*ABOUT*/

.about {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
}

.about .image img {
    width: 100%;
}

.about .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about .content h3 {
    font-family: 'Merienda One', cursive;
    font-size: 4.5 rem;
    color: var(--black);
    padding-bottom: 1rem;
}

.about .content p {
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
    line-height: 1.5;
}

/*FACILITY*/

.facility .box-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1.5rem;
    align-items: flex-start;
}

.facility .box-container .box {
    align-items: center;
}

.facility .box-container .box img {
    height: 10rem;
    /*margin-bottom: 0.5rem;*/
}

.facility .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
}

.facility .box-container .box p {
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 1.5;
}

/*MENU*/

.menu .box-container  {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1.5rem;
    justify-content: center;
}

.menu .box-container h3 {
    font-size: 1rem;
    color: var(--light-color);
    text-align: center;
    padding-bottom: 1.5rem;
}

/*GALERIA*/

.gallery .box-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1.5rem;
    justify-content: center;
}

.gallery .box-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*Preenche os espaços com a img*/
}

/*TEAM*/

.team .box-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 3.5rem;
    justify-content: center;
}

.team .box-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team .box-container h3 {
    font-size: 1.1rem;
    color: var(--light-color);
    text-align: center;
    padding-bottom: 1.5rem;
}

/*CONTACT*/
.contact .row {
    display: grid;
    grid-template-columns: 45% 50%;
    gap: 2rem;  
}

.contact .row .image img {
    width: 100%;
}

.contact .row .form {
    border: var(--border);
    padding: 2rem;
    text-align: center;
}

.contact .row .form h3 {
    font-size: 2.5rem;
    color: var(--black);
    margin-bottom: 1rem;
}

.contact .row form .box {
    display: block;
    width: 100%;
    font-size: 1.8rem;
    color: var(--black);
    border: var(--border);
    margin: 1rem 0;
    padding: 1.4rem;
}

/*FOOTER*/

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1.5rem;
    justify-content: center;
}

.footer .box-container .box {
    text-align: center;
}

.footer .box-container .box i {
    width: 6rem;
    height: 6rem;
    background-color: var(--main-color);
    color: var(--white);
    font-size: 2.5rem;
    line-height: 6rem;
    border-radius: 50%;
    margin-bottom: 1rem;    
}

.footer .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 1rem 0;
}

.footer .box-container .box p {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--light-color);
}

.footer .credit {
    text-align: center;
    margin-top: 3rem;
    padding-top: 2.5rem ;
    border-top: var(--border);
    font-size: 2rem;
}

.footer .credit span {
    color: var(--main-color);
}